<center>
<h1>welcome 
to my blog</h1></center>


<center><%=link_to (image_tag "blogapp.jpg",:width=>"15%",:height=>"15%",:align=>"right") ,posts_path %></center>
<br><br><br><br><br><br><br><br><h1 style="text-align:right;">click here</h1>